.movie {
  padding: 5px 25px 10px 25px;
  width: 20%;
}

.movie img {
  position: relative;
  width: 220px;
  height: 330px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie .info {
  max-height: 110px;
  color: rgb(66, 64, 64);
}

.movie p {
  font-size: 20px;
}

.movie .content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.movie .content:hover {
  background-color: rgb(245, 244, 244);
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}
@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}
@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}
