.App {
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.App p {
  font-weight: bold;
  color: dimgrey;
}

.app-intro {
  font-size: large;
  margin-bottom: 30px;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}
